---
export const prerender = false;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/en/" />
    <link rel="canonical" href="https://juhume.com/en/" />
    <title>Redirecting…</title>
</head>
<body>
    <p><a href="/en/">juhume.com</a></p>
</body>
</html>
