---
interface Props {
    flip?: boolean;
}
const { flip = false } = Astro.props;
---

<div class={`divider ${flip ? 'divider--flip' : ''}`} aria-hidden="true">
    <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,60 C200,120 400,0 600,60 C800,120 1000,0 1200,60 L1200,120 L0,120 Z" />
    </svg>
</div>
